

/* Navigation Style */
	

	#navigation-sticky-wrapper {
		z-index: 2000;
	}


	.fixed {
		position: fixed;
		width: 100%;
		top:0px;
	}

	.navbar-inner {
		background: none;
		box-shadow: none !important;
		min-height: 45px;
		line-height: 20px !important;
		transition: all 0.3s ease-out 0s;
		border-bottom: none !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		background: #E1E1E1;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.1)!important;
	}

	.collapsing, .collapse {
	    background-color: #E1E1E1;
	}

	.navbar {
		position: relative;
		padding: 0;
		-webkit-box-shadow: 1px 1px 1px 1px #999999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 1px 1px 1px 1px #999999;  /* Firefox 3.5 - 3.6 */
		box-shadow: 1px 1px 1px 1px #999999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
	
	.navbar .nav {
		width: 100%;
		min-width: 500px;
		height: 45px;
		background-color: #E1E1E1;
		text-align: center;
		margin: auto;
	}

	.navbar .nav > li {
		float: none;
		display:inline-block;
		width: 19%;
	}

	
	.nav > li > a:focus, .nav > li > a:hover {
	    background-color: transparent;
	}

	.navbar .nav > li > a {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 18px;
		color: #222222;
		display: block;
		height: 100%;
		transition: all 0.3s ease-out 0s;
		line-height: 45px;
		text-shadow: none;
	}
	
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		background: none;
		box-shadow: none;
		color: #999999;
		height: 100%;
		transition: all 0.3s ease-out 0s;	
	}
	
	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
		color: #00A8FF;
		text-decoration: none;
		height: 100%;
		transition: all 0.3s ease-out 0s;
	}	
	
	.navbar .show-menu {
		float: right;
		width:30px;
		margin: 7px 30px 7px 10px;
		height: 31px;
		padding:2px;
		background:url(../img/button.jpg) no-repeat 2px 2px;
		background-size:30px 30px;
		cursor:pointer;
		border-radius:3px;
		opacity:0.7;
		display:none;
	}
	
	.navbar .show-menu:hover {
		opacity:1;
	}


	/** NAVBAR WITH BOOTSTRAP 4.0 **/

	.card-header {
	  background-color: #FFFFFF;
	  height: 45px;
	  color: #333;
	}

	.card-header a {
	  color: #333;
	  font-size: 18px;
	  text-transform: uppercase;
	  vertical-align: middle;
	  padding: 10px;
	}

	.card-header:first-child {
	    border-radius: 0;
	}


	#nav-top{
	  top: 0;
	  position: fixed;
	  z-index: 1000;
	  width: 100%;
	  text-transform: uppercase;
	}

	#navlist{
	    width: 40%;
	    min-width: 40%; 
	    text-align: center;
	    background-color: blue; 
	    margin-left: auto;
	    margin-right: auto;
	}

	#nav-top li{
	  float: left;
	  display: table;
	  width: 170px;
	}

	

@media only screen and (max-width: 1300px) {	

}


@media only screen and (max-width: 1024px) {

}


@media only screen and (max-width: 767px) {
	
	.navbar .nav {
	    position: relative;
	    left: 0px;
	    display: block;
	    float: left;
	    margin: 0px 10px 0px 0px;
	    text-align: center;
	    background-color: #E1E1E1;
	}	
		
	.navbar .nav > li {
	    float: none;
	    display: inline-block;
	    width: 100%;
	    background-color: #E1E1E1;
	}

}

@media only screen and (max-width: 479px) {

}	